.btn {
    border: 0.1em solid #ddd;
    padding: 0.3em;
    margin: 0 0.1em;
    transition: all 0.35s linear;
}

.btn_solid:hover {
    background-color: #f4a137;
    color: #fff;
}

.btn_kh:hover {
    color: rgb(233, 108, 5);
}

.btn_d {
    background-color: #f18901;
}