.wrapper {
    width: 95%;
    margin: 0.4em auto;
    box-shadow: 0 0 1em 0 #bcbdc7;
}


/* header */


/*topinfo*/

.header {
    background-color: #505f8a;
    color: #fff;
    border-radius: 0.4em 0.4em 0 0;
}

.header a {
    color: #bcbdc7;
    transition: all 0.4s linear;
}

.topinfo {
    border-bottom: 0.2em solid #ddca88;
}

.topinfo {
    justify-content: space-between;
}

.farsi {
    width: 2em;
    vertical-align: middle;
}

.accountlink {
    padding: 0.5em 0.6em;
}

.accountlink:hover {
    color: #fff;
}

.languages {
    padding: 0.5em 0.4em;
}


/*header-info*/

.header-info {
    padding: 0.7em 0.6em;
    border-bottom: 0.2em solid #ddca88;
}

.boxsearch {
    flex-grow: 1;
    align-items: stretch;
    width: auto;
    height: 50px;
    padding: 1.4em;
    justify-content: center;
}

.categorys {
    border: none;
    border-radius: 0 2em 2em 0;
    padding: 0.4em;
}

.topsearchinput {
    border: none;
    padding: 0.4em;
}

.a {
    padding: 0 0.3em;
    font-size: 2em;
    background-color: #fff;
    border-radius: 2em 0 0 2em;
}

.contactusicon {
    font-size: 3em;
    padding: 0 0.3em;
}

.contactus {
    padding: 0.5em
}

.contactusinfo {
    padding: 0.5em 0;
}

.carticon {
    font-size: 3em;
    padding: 0 0.3em;
}

.cart {
    padding: 0.5em
}

.cartinfo {
    padding: 0.5em 0;
}


/* top nav */

.topnav {
    position: relative;
}

.topnavlink {
    display: block;
    padding: 0.8em;
}

.topnavlink:hover {
    color: #fff;
    transition: all 0.4s linear;
}

.topnavitem:hover>.submenu {
    display: block;
}

.submenu {
    display: none;
    width: 100%;
    height: 15em;
    background-color: #000;
    position: absolute;
    top: 100%;
    right: 0;
}

.submenucon {
    width: 100%;
    height: 100%;
    position: relative;
}

.submenuimage {
    position: absolute;
    width: 20em;
    height: 15em;
    bottom: 0;
    left: 0;
}

.submenulist {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
}

.submenulistitem {
    width: 33%;
}

.hotcat::before {
    content: " ";
    background-image: url(../image/new.png);
    position: absolute;
    width: 2em;
    height: 2em;
    top: -11px;
    right: 177px;
}


/* main */

.main {
    background-color: #fff;
}


/* section slider */

.slider {
    height: 37em;
}

.l-ads {
    width: 75%;
    padding: 0.6em;
}

.r-ads {
    width: 25%;
    padding: 0.6em 0.6em 0.6em 0;
}

.rimg,
.limg {
    width: 100%;
    height: 100%;
}


/* top product */

.topproduct {
    background-color: #bcbdc7;
}

.topproductitem {
    flex-grow: 1;
}

.topproductimage {
    width: 6em;
    height: 6em;
    padding: 0.5em 0.3em;
}

.topproductimage img {
    width: 100%;
    height: 100%;
    border-radius: 3em;
}

.topproductinfo {
    align-self: center;
}


/* section top sell */

.topselldetail {
    flex-grow: 2;
    width: 40%;
    border: 0.1em #f92321 solid;
    margin: 0.3em;
}

.pimage {
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
}

.topselllist {
    flex-grow: 3;
    width: 60%;
    border: 0.1em #f92321 solid;
}

.tsitem {
    width: 33%;
    flex-grow: 1;
}

.tslist {
    flex-wrap: wrap;
}

.aaa {
    border: 0.1em #f92321 solid;
    margin: 0.4em;
    text-align: center;
}

.producttitle {
    color: #89b2ff;
    display: block;
}

.producttitle:hover {
    color: rgb(236, 137, 9);
}

.priceitem {
    color: #f92321;
}

.pro-image-ovrelay {
    position: relative;
    overflow: hidden;
}

.overlayimage {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    opacity: 1;
    transition: all 0.5s linear;
}

.aaa:hover .overlayimage,
.aaa:hover .btn_d {
    top: 0;
    opacity: 1;
}

.aaa:hover .asl {
    opacity: 0;
}

.aaa .btn_d {
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    opacity: 1;
    transition: all 0.5s linear;
}

.aaaa:hover .overlayimage,
.aaaa:hover .btn_d {
    top: 0;
    opacity: 1;
}

.aaaa:hover .asl {
    opacity: 0;
}

.aaaa .btn_d {
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    opacity: 1;
    transition: all 0.5s linear;
}

.listbottom {
    width: 100%;
}

.itembottom {
    border: 0.1em solid #f92321;
    margin: 0.1em;
}

.imagebottom {
    width: 100%;
}