html {
    direction: rtl;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: IRANSans;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}